@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Quicksand', sans-serif;
    background: #000000 url(../public/background.jpg) center center no-repeat;
    background-position: top;
    background-attachment: fixed;
    background-size: cover;
}